.menu-bar {
    -fx-background-color: #1A2237 ;
    -fx-border-width: 2.0;
}
.menu-bar .label {
    -fx-font-size: 12.0 pt;
    -fx-text-fill: #9DAAD9;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: #1A2237 ;
    -fx-text-fill: #FFFFFF;
}

.menu-item {
    -fx-padding: 2px;
    -fx-text-fill: black;
    -fx-background: #1A2237 ;
}
.menu-item .label{
    -fx-font-size: 12.0 pt;
    -fx-text-fill: #567194;
}
.menu-item .label:hover{
    -fx-font-size: 12.0 pt;
    -fx-background: black ;
    -fx-text-fill: #FFFFFF;
}
.context-menu {
    -fx-skin: "javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #1A2237 ;
    -fx-border-width: 0.2px;
    -fx-border-color: black;
    /** -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; 
    -fx-opacity: 0.9;*/
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab
{
    -fx-background-color: #192136;
    -fx-border-fill: #000;
}

.tab-pane .tab:selected
{
    -fx-background-color: #121726;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #4C5A8E;
}

.button {
    -fx-padding: 6;
    -fx-background-color: #253151;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.button:hover {
    -fx-background-color: #192136;
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #253151 , 0,0,0,2 );
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#253151 50%, #29365a 60%, #304069 75%, #364774 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #253151;
    -fx-text-fill: #828282;
}

.list-cell:odd {
    -fx-background-color: #29365a;
    -fx-text-fill: #828282;
}

.list-cell:filled:hover {
    -fx-background-color: #9DAAD9;
    -fx-text-fill: white;
}


/**
    TABLE VIEW 
*/
.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #29365a, #304069);
    -fx-padding: 2px;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-text-background-color: white;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: white;
}

.table-row-cell:hover {
    -fx-background-color: #9DAAD9;
    -fx-text-fill: white;
}

.table-row-cell:odd{
    -fx-background-color: #29365a;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: white;

}
.table-row-cell:even{
    -fx-background-color: #253151;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: white;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #29365a, #304069);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #29365a, #304069);
}

.text-field {
    -fx-text-fill: white;
    -fx-background-color: #253151 , #29365a , #29365a;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-text-fill: white;
    -fx-background-color: #253151 , #29365a , #29365a;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

/**

*/

.combo-box-base  
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: #29365a;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-background-color: #253151;
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: #253151;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}